@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table border="1">
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>UnitPrice</td>
        <td>Discount</td>
    </tr>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Title</td>
            <td>@product.UnitPrice</td>
            <td>@product.Discount</td>
        </tr>
    }
</table>
